*{
margin: 0;
padding:0;

}

.container{
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background-color: #8a2be2;
}

.card{
    width: 250px;
    height: 140px;
    background-color: #fff;
    padding: 3%;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    box-shadow: 28px 35px 90px 18px rgba(0,0,0,0.31);
}
.cardafter{
    height: 270px;
    transition: 0.5s;
}

input {
    width: 95%;
    padding: 5px;
    height: 25px;
    border-radius: 10px;
    border: 2px solid #d1d1d1;
  }

  .imagebox{
    width: 0;
    height: 0;
    margin: 6px auto;
    padding: 20px;
    border-radius: 10px;
    
  }
  .imageboxafter{
    height: 150px;
    width: 150px;
    border: solid 1px #d1d1d1;
    transition: 0.5s;
  }


button {
  padding: 10px;
  align-items: center;
  background-color: #8a2be2;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  justify-content: center;
  transition: all 0.25ms;
  width: 100%;
}


button:active {
  background-color: #7c10e0;
  transform: translateY(-1px);
}
